/* About Us Section */
.about-section {
    background-color: #f9f9f9;
}

/* Grid Container */
.about-grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* About Image */
.about-image img {
    max-width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
    transition: transform 0.5s; 

}
.about-image:hover img{
    transform: rotateY(180deg);
}

/* About Content */
.about-content {
    text-align: center;
    font-family: 'Poppins';
}

.about-content h2 {
    font-size: 36px;
    margin-bottom: 70px;
}

.about-content p {
    font-size: 16px;
    line-height: 1.6;
}
.icons{
display:flex;
padding-top: 10px;
padding-bottom:10px ;
padding-left:10px ;
padding-right: 10px;


}

.childicon{
    flex: auto;
width:50%;
transform: scale(1.2);



}
.iconstyle{


    border-radius: 50% !important;
    background-color: #EFF5F9 !important;
    text-align: center !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}
h6{
    margin-bottom: 0 !important;
    font-size: 1rem;
    margin-top: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    color: #1D2A4D;
}
.Label{
    color: #13C5DD !important;
    display: block !important;
    font-size: 0.875em;

}


@media screen and (min-width: 768px) {

    .about-grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
    
}

@media screen and (min-width: 1024px) {
/* Further adjustments for even larger screens if needed */
    .about-content {
        text-align: left;
    }

}
@media screen and (max-width: 768px) {
    .about-grid-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .about-image {
      order: 2;
      margin-top: 20px;
    }
  
    .about-content {
      order: 1;
      text-align: center;
    }
  }

      
  





