body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#title1 {
	text-align: center;
	background-color: #f8f9fa;
	color: #007bff;
	padding: 20px;
	margin-bottom: 3px;
	font-size: xx-large;
}

#title2 {
	text-align: center;
	background-color: #007bff;
	color: white;
	padding: 10px;
	margin: 0;
}

/*icons*/


/*icons*/

.iconscontact {
	margin-top: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
}


.iconscontact i:hover {
	transform: translateY(-5px);
	background-color: white;
}




.iconscontact i::before {
	margin-bottom: 0.5rem;
	font-size: 3rem;
	color: #007bff;


}


.iconscontact i {
	font-size: 3rem;
	color: white;
	margin: 0 1rem;
	display: flex;
	align-items: center !important;
	justify-content: center;
	width: 100px;

	height: 100px;

	border-radius: 50%;
	border: 2px solid #007bff;
	background-color: #717d88;
	transition: transform 0.3s ease-in-out;
}

.iconscontact i:hover {
	transform: translateY(-5px);
	background-color: #007bff;

}

.iconscontact i {
	font-size: 4rem;
	color: white;
	margin: 0 1rem;
	display: flex;
	align-items: center !important;
	justify-content: center;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 2px solid #007bff;
	background-color: #f8f9fa;
	transition: transform 0.3s ease-in-out;
	position: relative;

}

.iconscontact i::before {
	font-size: 3rem;
	color: #007bff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

}

.icon-text {
	font-size: 1.6rem;
	padding-top: 75px;
	color: #007bff;
	cursor: pointer;

}

.icon-text:hover {
	color: white;
}



.iconscontact:hover i.fab.fa-instagram {
	color: white;

}





@media (max-width: 768px) {
	.map-container {
		flex-direction: column;
		align-items: center;
		padding: auto;
		margin-bottom: 20px;
		margin-top: 50px;
	}

	.map {
		width: 300px;
		height: 300px;
	}

	.form-container {
		margin-left: 0;
		margin-top: 20px;
	}
}


@media (max-width: 600px) {
	.iconscontact i {
		font-size: 2.5rem;
		width: 60px;
		height: 60px;
	}

	.icon-text {
		font-size: 5px;
		padding-top: 45px;
	}
}

@media (max-width: 882px) {
	.iconscontact i {
		font-size: 3.5rem;
		width: 90px;
		height: 89px;
	}

	.icon-text {
		font-size: 7px;
		padding-top: 45px;
	}
}



@media (max-width: 768px) {
	.btn {
		padding: 5px 10px;
		font-size: 14px;
	}
	.iconscontact{
		top:-100px;
	}
}

@media (max-width: 480px) {
	.btn {
		padding: 5px 10px;
		font-size: 12px;
	}
}

@media (max-width: 1120px) {

	.form-container {
		width: 90%;
		margin: 0;
		padding-right: 100px;
	}


	.form-container form input,
	.form-container form textarea,
	.form-container form .btn {
		width: 90%;

		margin-bottom: 10px;
	}

	.form-container form textarea {

		padding-right: 100px;

	}


	.form-container form label {
		display: inline-block;
		width: 100px;
		text-align: left;
		margin-bottom: 5px;
	}


	.map-container {
		flex-direction: column-reverse;
	}
}

/* Header */
.list-open .iconscontact {
	display: none;
  }
  .nav-links {
	z-index: 1;
  }
  
  .nav-links.open {
	z-index: 2;
  }
  
  .iconscontact {
	z-index: -1;
  }
  
  .map-container {
	position: relative;
	height: 700px;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 20px;
  }
  
  .form-container {
	width: 30%;
	background-color: #5e1ccf;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-container form {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .form-container label {
	margin-bottom: 8px;
  }
  
  .form-container input, .form-container textarea {
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  }
  
  .form-container input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 9px 25px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
  }
  
  .form-container input[type="submit"]:hover {
	background-color: #3e8e41;
  }
  
  .map {
	width: 60%;
	height: 50vh;
	margin-left: 20px;
  }
  
  .map iframe {
	width: 100%;
	height: 100%;
	border: none;
  }
  .contact-container {
	position: relative;
	width: 100%;
	height: 100%; 
  }
  
  .form-container {
	position: absolute;
	top: 53%;
	left: 73%;
	transform: translate(-50%, -50%);
  }
  
  .map {
	position: absolute;
	top: 70px;
	left: 40px;
	width: 70%; 
	height: 80%; 
	z-index: -1;
  }
  