
body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    background: linear-gradient(45deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%, rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%, rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%, rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%, rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),
                linear-gradient(0deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%, rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%, rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%, rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%, rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),
                linear-gradient(135deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%, rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%, rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%, rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%, rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),
                linear-gradient(90deg, rgb(79, 35, 157), rgb(43, 171, 222));
    background-blend-mode: overlay, overlay, overlay, normal !important;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    padding: 20px 30px;
    max-width: 600px;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #f5f5f5;
}
.form-group label {
    font-weight: bold;
    color: #f8f8f8;
}
.form-control {
    border-radius: 4px;
    border: 1px solid #05090e;
}
.btn-primary {
    background-color: #82a6cc;
    border-color: #007bff;
}
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
.btn-secondary {
    background-color: #77838e;
    border-color: #9aaab7;
}
.btn-secondary:hover {
    background-color: #383f89;
    border-color: #545b62;
}

@media (max-width: 600px) {
    .container {
        padding: 15px 20px;
        margin-top: 20px;
        max-width: 100%;
        box-shadow: none;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .form-group label {
        font-size: 14px;
    }

    .form-control {
        font-size: 14px;
    }

    .btn-primary, .btn-secondary {
        font-size: 14px;
        padding: 10px 15px;
    }
}