@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*top bar style*/
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #dee2e6 !important;
}




.column1 {
    flex: 1;
    display: flex;
    justify-content: flex-start;
}

.column2 {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.contact-info span {
    margin-right: 10px;
}

.social-media a {
    margin-left: 10px;
}
.mediastyle{
    color: #848E9F !important;
    padding-right: .5rem !important;
    padding-left: .5rem !important;

}

@media screen and (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }

    .column1, .column2 {
        width: auto;
        justify-content: center;
    }

    .contact-info, .social-media {
        margin-bottom: 10px;
    }
}
/* top bar style end*/
/* NavBar */
.container {
    max-width: 100%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(45deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(0deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(135deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(90deg, rgb(79, 35, 157),rgb(43, 171, 222)); background-blend-mode:overlay,overlay,overlay,normal;
    padding: 10px 20px;
    
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    width: 80px; 
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
}

.clinic-name {
    font-weight: bold;
    text-transform: uppercase;
    font-family:'Poppins', Verdana, Geneva, Tahoma, sans-serif;
color: white;
font-size: xx-large;
}

.nav-links{

    font-family: 'Poppins';
    font-weight: bold;
}
.menu-links {
    display:flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    border-radius: 5px;

}

.menu-links.active {
    display: block;
}


.menu-links {
    display: none;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px; 
    left: 0;
    right: 0;
    z-index: 999; 
}

.menu-links a {
    padding: 10px;
    color: #333;
    text-decoration: none;
}

/* Media query for toggling the menu button */
@media screen and (max-width: 780px) {
    .toggle-menu-btn {
        display: block;
    }

    .nav-links {
        display: none;
    }
}

.nav-links li:hover .htmlcss-arrow,
.nav-links li:hover .js-arrow {
  transform: rotate(180deg);
}

.nav-links li .arrow 
{

  height: 100%;
  width: 22px;
  line-height: 70px;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}

.nav-links li .sub-menu {
  position: absolute;
  top: 90px;
  right: 10%;
  line-height: 40px;
  background-image: linear-gradient(45deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(0deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(135deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(90deg, rgb(79, 35, 157),rgb(43, 171, 222)); background-blend-mode:overlay,overlay,overlay,normal;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
  display: none;
  z-index: 2;
}
.nav-links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
.nav-links li{
    margin: 0px;
}
.nav-links a{
    margin-top: 23px;
}

.nav-links li .sub-menu li {
  padding: 0 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}

.nav-links li .sub-menu .more-arrow {
  line-height: 40px;
}

.nav-links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}

.nav-linksli .sub-menu .more:hover .more-sub-menu {
  display: block;
}



.nav-links li{

    list-style-type: none !important;
    
}

@media screen and (max-width: 768px) {
    .logo {
        justify-content: center; 
    }

    .toggle-menu-btn {
        display: block;
        margin-left: auto; 
    }

    .nav-links {
        display: none; 
    }

    .nav-links.active {
        display: block; 
        width: 100%; 
        text-align: center; 
    }

    .nav-links.active a {
        display: block;
        padding: 10px 0; 
    }
}


/*navbarmenu*/
.nav-links {
    display: flex;
}

.nav-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    text-decoration:solid;
}

.toggle-menu-btn {
    display: none; 
}


@media screen and (max-width: 768px) {
    .logo {
        justify-content: center; 
    }

    .toggle-menu-btn {
        display: block; 
        margin-left: auto; 
    }

    .nav-links {
        display: none; 
    }

    .nav-links.active {
        display: block; 
        width: 100%; 
        text-align: center; 
    }

    .nav-links.active a {
        display: block;
        padding: 10px 0; /* Add padding for better spacing */
    }
}




/* BODYSTART*/

.welcome-section {
    background-image: url('../image/DRImage.jpeg');

    background-size: cover;
    background-position: center;
    padding: 60px;
    text-align: left;
}





.content {
    color: white;

}

h1 {
 margin-left: -25px;

}

 p {
    font-size: 32px;
    margin-left: -21px;
    margin-top: -30px;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: transparent;
    color: white;
    border:1px solid inset;
    cursor: pointer;
    border-radius: .50rem;
}

button:hover {
    background-color: #0056b3;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .content {
        padding: 0 20px; /* Add horizontal padding */
    }

    h1 {
        font-size: 28px;
    
    }

    p {
        font-size: 16px;
    }
}
/* Find Doctor Style*/
.finddoctor{
background-color: #007bff;
margin-top: 12px;
margin-bottom: 12px;
transition: background-color 0.3s ease;

}
.finddoctor:hover {
    background-color: #0056b3;
}
.finddoctor-content{
color: white;
text-align: center;
font-family:'Poppins';

}
.finddoctor-content h4{
    color: black !important;
}
.parent{
margin-right: auto;
margin-left: auto;
width: 100%;
max-width: 400px;
box-sizing: border-box;
height:90px;
}


.finddoctor-form{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;

}
.finddoctor-form select{
border-top-left-radius: 0%;
border-bottom-left-radius: 0%;
  border:none;
}
.finddoctor-form .text{
    margin-left: -1;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border:none;
    
}
.finddoctor-form button{
    background-color: #0056b3;
    font-family: 'Poppins';
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
    border:none;
}
/* media query for find doctor*/
@media screen and (max-width: 768px) {
    .parent {
        max-width: 100%;
        height: auto;
        padding: 0 20px;
    }

    .finddoctor-form {
        flex-direction: column;
    }

    .finddoctor-form select,
    .finddoctor-form .text,
    .finddoctor-form button {
        border-radius: 0;
        margin: 10px 0;
    }

    .finddoctor-form button {
        border-radius: 0;
        border:none;
    }
}

/* END OF FIND DOCTOR*/
/* FOOTER STYLE*/

.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-image: linear-gradient(45deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(0deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(135deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(90deg, rgb(79, 35, 157),rgb(43, 171, 222)); background-blend-mode:overlay,overlay,overlay,normal;

}

.footer-column {
    flex: 1 1 25%;
    margin-right: 20px;
    margin-bottom: 20px;
    
}

.footer-header {
    font-size: 18px;
    margin-bottom: 10px;
    color:white;
    font-family: 'Poppins';
}

.footer-info {
    margin-bottom: 10px;
    color:white;
    font-family: 'Poppins';

}

.footer-info i {
    margin-right: 10px;
    color: orchid;
 
}

.footer-links {
    list-style-type: none;
    padding: 0;
    color:white;
    font-family: 'Poppins';
}

.footer-links li {
    margin-bottom: 5px;
    list-style: circle;
    color:white;
    cursor: pointer;
}

.footer-column h3{
    color: white;
}

#emailForm{
    display: flex;
    flex-direction: row;
}
#emailForm label{
    font-size: small;
    color: white;
}
#emailForm button {
    background-color: #0056b3;
    font-family: 'Poppins';
    border-top-left-radius: 0%;
    border-bottom-right-radius: 0%;
    border-bottom-left-radius: 0%;
    border-top-right-radius: 0%;
    border:none;
}

.social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 50%; 
    background-color: #007bff; 
    color: white; 
    
}

.social-icons a:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
.follow-text{
    color:white;
    font-weight:bold ;
    font-family: 'Poppins';
}






body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
footer{

    font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
@media screen and (max-width: 768px) {
    .navbar {
      position: relative;
    }
  
    .nav-links.active {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-image: linear-gradient(45deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(0deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(135deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(90deg, rgb(79, 35, 157),rgb(43, 171, 222)); background-blend-mode:overlay,overlay,overlay,normal;
      box-shadow: 0 2px 4px white;
    }
  
    .nav-links.active a {
      padding: 10px;
      color: white;
      text-decoration: none;
      display: block;
    }
  
    .nav-links {
      display: none;
    }
    .nav-links li:hover .htmlcss-arrow,
.nav-links li:hover .js-arrow {
  transform: rotate(360deg);
}
.nav-links li .sub-menu {
    position: absolute;
    top: 200px;
    right: 10%;
    line-height: 40px;
    background-image: linear-gradient(45deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(0deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(135deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(90deg, rgb(79, 35, 157),rgb(43, 171, 222)); background-blend-mode:overlay,overlay,overlay,normal;
  
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
  }
  .about-section {
    margin-top: 156px;
  }
  
      
        .about-grid-container {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      
        .about-image {
          order: 2;
          margin-top: 20px;
        }
      
        .about-content {
          order: 1;
          text-align: center;
        }
        
        
      }
  


