
  .learn-more {
   
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .learn-more h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .learn-more .section {
    margin-bottom: 30px;
    opacity: 0;
    transition: opacity 0.3s ease-in;
  }
  
  .learn-more .section img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .learn-more .section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #555;
  }
  
  .learn-more .section p {
    font-size: 16px;
    line-height: 1.5;
    color: #777;
  }
  
 
  