
 @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Seaweed+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Seaweed+Script&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.circles-container {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 25px;
  width: 100%;
}

.circle {
  width: 20em;
  height: 20em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 6px solid blue;
  box-sizing: border-box;
  margin: 0 1em;
}

.circle2 {
  width: 20em;
  height: 20em;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(45deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(0deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(135deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(90deg, rgb(79, 35, 157),rgb(43, 171, 222));
  background-blend-mode:overlay,overlay,overlay,normal;
  border-radius: 50%;
  border: 0;
  background-blend-mode: overlay, overlay, overlay, normal;
  margin: 0 1em;
}
.submissionsmain2{

  margin-bottom: 160px;
}

.img2 , .img3{
  margin-bottom: 75px;
  padding-bottom: 5px;
}

.img{
  width: 170px;
  margin-top:  120px;
}
.txt{

  margin-top:  100px;
}
.img4{
  width: 140px;
  margin-bottom: 100px;
  margin-top: 35px;
}
.img5{
  margin-bottom:150px;
  margin-top: 1px;
  width: 270px;
}
.img6{
  margin-bottom: 80px;
}

.txt1 {

  margin-top:  30px;
  margin-bottom: 10px !important;
}
.intro-paragraph{
  margin-bottom: 70px;
  padding-top: 28px;
  font-family: 'Tinos', Courier, monospace;
  font-size: small;
  background-color: rgb(246, 229, 229);
}
.text-line {
  font-family:  'Seaweed Script';
  display: inline-block;
  font-size: 1.5 rem;
  font-weight: bold;
  color: #000;
  overflow: hidden;
  border-right: 0.2em solid transparent;
  white-space: nowrap;
  animation: typewriter 2s steps(10) forwards;
  padding-left: 60%;
}

@keyframes typewriter {
  from {
    width: 0;
    border-right: 0.2em solid transparent;
  }
  to {
    width: 25%;
    border-right: 0.2em solid transparent;
  }
}

.sign{ width: 170px;}

.blue-icon {
  color: white;
  margin-top: 30px;
  
}

.circle:hover {
  background-color: none;
  background-image: linear-gradient(45deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(0deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(135deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(90deg, rgb(79, 35, 157),rgb(43, 171, 222));
  border-radius: 50%;
}
.img:hover, .img2:hover,.img3:hover,.img4:hover, .img5:hover, .img6:hover {
  display: none;
}


.imgqr{

  display: flex;
  align-items: center;
  padding-left: 40%;
  width: 300px;
}
#learnmore h2{
  background-image: linear-gradient(45deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(0deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(135deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(90deg, rgb(79, 35, 157),rgb(43, 171, 222));
 color: aliceblue;
 padding-left: 40%;
}



@media screen and (max-width: 768px) {
  .circles-container {
    flex-direction: column;
    align-items: center;
  }

  .circle, .circle2 {
    width: 15em;
    height: 15em;
    margin: 1em;
  }

  .img {
    width: 125px;
    margin-top:80px;
  }

  .img2, .img3, .img4, .img5, .img6 {
    width: 150px;
    margin-bottom: 50px;
  }

  .imgqr {
    width: 200px;
    padding-left: 30%;
  }

  #learnmore h2 {
    font-size: 1.5rem;
  }
}

/******* shop****/

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-color: #f5f5f5;
}

.square-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 575px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

.square-form .title {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.square-form .title {
  height: 50px;
  width: auto;
  margin: 10px;
}
.logoforform{
  height: 50px;
  width: 90px;
  height: 90px;
  margin-bottom: -16px;
  margin-top: 1px;


}
.square-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.square-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.square-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
}

.square-form input[type="submit"]:hover {
  background-color: #3e8e41;
}

@media (max-width: 480px) {
  .square-form {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .square-form .title {
    flex-direction: column;
    align-items: flex-start;
  }

  .square-form .title .logoforform {
    margin: 10px 0;
  }

  .square-form input,
  .square-form select {
    margin-bottom: 5px;
  }

  .square-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
}

.colored-icon {
  color: rgb(54, 57, 136);
}

.larger-icon {
  font-size: 2rem; 
  
}
.payment-icons i {
  margin-right: 10px; 
  transition: transform 0.1s ease;
}

.payment-icons i:hover {
  transform: scale(1.2); 
}

#bb , .form-container{
  
 background:  linear-gradient(45deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(0deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(135deg, rgb(144, 100, 159) 0%, rgb(144, 100, 159) 24%,rgb(112, 112, 163) 24%, rgb(112, 112, 163) 28%,rgb(79, 124, 166) 28%, rgb(79, 124, 166) 40%,rgb(47, 136, 170) 40%, rgb(47, 136, 170) 84%,rgb(14, 148, 173) 84%, rgb(14, 148, 173) 100%),linear-gradient(90deg, rgb(79, 35, 157),rgb(43, 171, 222));


 
  
  }