
@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Metal&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: "Metal",Arial, sans-serif;
  }
  
  .map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    overflow: hidden;
  }
  
  .map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .form-container {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input,
  select {
    margin-bottom: 20px;
    border: 2px solid black;
    border-radius: 50px;
    height: 20px;
  }
  
  input[type="submit"] {
    background-color: #3a4399;
    color: rgb(202, 218, 205);
    cursor: pointer;
    border-radius: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #5a61c9;
  }
  


  @media (max-width: 768px) {
    .map-container {
      width: 100%;
      padding-bottom: 56.25%;
    }
  
    .form-container {
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 80%;
      padding: 20px;
    }
  
    form {
      display: block;
    }
  
    label,
    input,
    select {
      margin-bottom: 10px;
    }
  
    input[type="submit"] {
      width: 100%;
    }
  }


  @media (max-width: 355px) {
    .form-container {
      top: 73%;
      
    }


  }

