
      .user {
            border: 2px solid #000;
            padding: 10px;
            width: 300px;
            margin-bottom: 10px;
            font-weight: bold;
            font-size: 16px;
        }
        .user h2 {
            margin: 0;
            font-size: 18px;
        }
        .user p {
            margin: 5px 0;
        }