body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
  .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Adjust as needed */
      }
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400vh;
  }
  
  .verify-code-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
  }
  
  .verify-code-form h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .forgot-password-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  
  .verify-code-form button {
    width: 100%;
    padding: 10px;
    background-color: #0764f9;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }